.price {
    font-family: "Lucida Console", Arial, sans-serif;
}
.price div {
    border: 3px solid orangered;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    margin: 20px auto;
}
.bv {
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    margin-top: 0;
    padding: 15px 0;
}
.ig {
    color: #3f3f3f;
    text-transform: uppercase;
    font-weight: normal;
}
.price p {
    font-size: 45px;
    font-weight: bold;
    color: black;
    margin: 0;
}
.price sub, .price sup {
    font-weight: normal;
    font-size: 15px;
    position: relative;
}
.price sub {
    top:-2px
}
.price sup {
    top:-12px;
    right: 3px;
}
.price ul {
    list-style-type: none;
    text-align: left;
    color: #797474;
    padding: 0;
    width: 90%;
    margin: 15px auto;
}
.price li:nth-child(odd) {
    background-color: aliceblue;
}
.price li:nth-child(even) {
    background-color: #f1efef;
}
.price li {
    padding: 5px 0 5px 60px;
    background: url("arrow.png") no-repeat;
    background-position: 25px 5px;
}
.price a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: orangered;
    width: 88%;
    padding: 10px 0;
    margin: 20px;
    border: 1px orangered;
    border-radius: 5px;
    box-shadow: 0 4px 1px #d74102;

}